Repository kverushi/genassist: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

Path conditions:
  azure-pipelines-backend.yml: any of: backend
  azure-pipelines-frontend.yml: any of: frontend

fix: update default ChromaDB port in agent RAG form schema from 8000 to 8005
  backend/app/schemas/dynamic_form_schemas/agent_rag_form_schemas.py
Due: azure-pipelines-backend.yml

enhance: enable redis override url
  backend/.env.example
  backend/app/core/config/settings.py
Due: azure-pipelines-backend.yml

Modify PR label workflow for safety and updates
  .github/workflows/pr-auto-label.yml
Due: none

refactor: API routes to remove trailing slashes and update operation IDs
  backend/app/api/v1/routes/agent_knowledge.py
  backend/app/api/v1/routes/api_keys.py
  backend/app/api/v1/routes/app_settings.py
  backend/app/api/v1/routes/conversations.py
  backend/app/api/v1/routes/customers.py
  backend/app/api/v1/routes/datasources.py
  backend/app/api/v1/routes/feature_flags.py
  backend/app/api/v1/routes/llm_analysts.py
  backend/app/api/v1/routes/llm_providers.py
  backend/app/api/v1/routes/mcp.py
  backend/app/api/v1/routes/mcp_servers.py
  backend/app/api/v1/routes/ml_models.py
  backend/app/api/v1/routes/operators.py
  backend/app/api/v1/routes/permissions.py
  backend/app/api/v1/routes/role_permissions.py
  backend/app/api/v1/routes/roles.py
  backend/app/api/v1/routes/tenants.py
  backend/app/api/v1/routes/twilio_agents.py
  backend/app/api/v1/routes/twilio_vanilla.py
  backend/app/api/v1/routes/user_types.py
  backend/app/api/v1/routes/users.py
  backend/app/api/v1/routes/webhook.py
  backend/app/api/v1/routes/workflow_manager.py
  backend/app/api/v1/routes/workflows.py
  backend/openapi.json
  frontend/src/config/api.ts
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

docs: add github actions documentation
  .github/PULL_REQUEST_TEMPLATE/bugfix.md
  .github/PULL_REQUEST_TEMPLATE/core.md
  .github/PULL_REQUEST_TEMPLATE/feature.md
  .github/PULL_REQUEST_TEMPLATE/improvement.md
  .github/pull_request_template.md
  .github/workflows/git-tag.yml
  .github/workflows/pr-auto-label.yml
  CONTRIBUTING.md
Due: none

feat: add server unavailable messaging and contact options to chat component
  plugins/react/README.md
  plugins/react/example-app/src/App.tsx
  plugins/react/src/components/ChatMessage.tsx
  plugins/react/src/components/GenAgentChat.tsx
  plugins/react/src/hooks/useChat.ts
  plugins/react/src/services/chatService.ts
  plugins/react/src/types/index.ts
  plugins/react/src/utils/en.json
  plugins/react/src/utils/i18n.ts
Due: none

fix: disable socket on chat (#184)
  backend/app/api/v1/routes/mcp.py
  backend/app/api/v1/routes/playground.py
  backend/app/api/v1/routes/webhook.py
  backend/openapi.json
  frontend/package-lock.json
  frontend/src/components/GlobalChat.tsx
  frontend/src/views/AIAgents/components/Customer/ChatAsCustomer.tsx
  frontend/yarn.lock
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

fix: update healthcheck endpoint in docker-compose files (#186)
  .build/docker-compose.build.yml
  backend/openapi.json
  docker-compose.dev.yml
Due: azure-pipelines-backend.yml

feat: pg vector
  backend/app/modules/data/providers/vector/db/pgvector.py
  backend/app/modules/workflow/engine/workflow_engine.py
Due: azure-pipelines-backend.yml

fix: remove metadata
  backend/app/modules/data/manager.py
Due: azure-pipelines-backend.yml

feature: disable WS on backend
  backend/.env.example
  backend/app/core/config/settings.py
  backend/app/modules/websockets/socket_connection_manager.py
  backend/openapi.json
Due: azure-pipelines-backend.yml

fix: let connection for frontend bc
  backend/app/modules/websockets/socket_connection_manager.py
Due: azure-pipelines-backend.yml

refactor: simplify API key retrieval by removing cache header (#200) (#203)
  frontend/src/services/apiKeys.ts
Due: azure-pipelines-frontend.yml

release: development -> test (#209)
  .github/workflows/pr-title-check.yml
Due: none

fix: Refactor BedrockEmbedder to use LangChain methods
  backend/app/modules/data/providers/vector/embedding/bedrock.py
Due: azure-pipelines-backend.yml

fix: return to normal log level
  backend/app/api/v1/routes/agent_knowledge.py
  backend/app/api/v1/routes/agents.py
  backend/app/api/v1/routes/conversations.py
  backend/app/modules/data/providers/plain/provider.py
  backend/app/modules/data/providers/vector/provider.py
  backend/app/modules/integration/gmail_connector.py
  backend/app/modules/workflow/agents/cot_agent.py
  backend/app/modules/workflow/agents/react_agent.py
  backend/app/modules/workflow/agents/react_agent_lc.py
  backend/app/modules/workflow/agents/simple_tool_agent.py
  backend/app/modules/workflow/agents/tool_agent.py
  backend/app/modules/workflow/engine/base_node.py
  backend/app/modules/workflow/engine/nodes/agent_node.py
  backend/app/modules/workflow/engine/nodes/aggregator_node.py
  backend/app/modules/workflow/engine/nodes/api_tool_node.py
  backend/app/modules/workflow/engine/nodes/chat_nodes.py
  backend/app/modules/workflow/engine/nodes/llm_model_node.py
  backend/app/modules/workflow/engine/nodes/tool_builder_node.py
  backend/app/modules/workflow/registry.py
  backend/app/modules/workflow/utils.py
  backend/app/tasks/conversations_tasks.py
  backend/app/tasks/zendesk_tasks.py
Due: azure-pipelines-backend.yml

fix: ignore vars with space
  backend/app/modules/workflow/engine/utils.py
  frontend/src/views/AIAgents/Workflows/utils/helpers.ts
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

minor fix on llm models svc
  backend/app/api/v1/routes/workflows.py
  backend/app/core/exceptions/error_messages.py
  backend/app/services/llm_providers.py
Due: azure-pipelines-backend.yml

refactor: implement infinite scroll for agent list and optimize loading state management
  frontend/src/views/AIAgents/components/AgentList.tsx
  frontend/src/views/AIAgents/components/Dashboard.tsx
Due: azure-pipelines-frontend.yml

Fix private key comment
  backend/app/modules/integration/snowflake/snowflake_manager.py
Due: azure-pipelines-backend.yml

fix: cleanup workflow engine class
  backend/app/api/v1/routes/mcp.py
  backend/app/api/v1/routes/workflows.py
  backend/app/modules/workflow/agents/agent_utils.py
  backend/app/modules/workflow/engine/base_node.py
  backend/app/modules/workflow/engine/nodes/tool_builder_node.py
  backend/app/modules/workflow/engine/workflow_engine.py
  backend/app/modules/workflow/mcp/mcp_server_adapter.py
  backend/app/modules/workflow/registry.py
  backend/app/tasks/ml_model_pipeline_tasks.py
  backend/openapi.json
  backend/scripts/mcp_stdio_server.py
  backend/tests/unit/test_agent_utils.py
Due: azure-pipelines-backend.yml

feat: execute sub workflow
  backend/app/api/v1/routes/workflows.py
  backend/app/modules/workflow/engine/nodes/__init__.py
  backend/app/modules/workflow/engine/nodes/workflow_executor_node.py
  backend/app/modules/workflow/engine/workflow_engine.py
  frontend/src/views/AIAgents/Workflows/nodeDialogs/WorkflowExecutorDialog.tsx
  frontend/src/views/AIAgents/Workflows/nodeTypes/index.ts
  frontend/src/views/AIAgents/Workflows/nodeTypes/tools/definitions.ts
  frontend/src/views/AIAgents/Workflows/nodeTypes/tools/workflowExecutorNode.tsx
  frontend/src/views/AIAgents/Workflows/types/nodes.ts
  frontend/src/views/AIAgents/Workflows/utils/iconUtils.tsx
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

fix: plugins/react/package.json & plugins/react/package-lock.json to reduce vulnerabilities
  plugins/react/package-lock.json
  plugins/react/package.json
Due: none

fix: backend/requirements-app.txt to reduce vulnerabilities
  backend/requirements-app.txt
Due: azure-pipelines-backend.yml

fix: frontend/package.json & frontend/package-lock.json to reduce vulnerabilities
  frontend/package-lock.json
  frontend/package.json
Due: azure-pipelines-frontend.yml

feat: add types to test nodes
  backend/app/modules/workflow/engine/base_node.py
  backend/app/modules/workflow/engine/nodes/data_mapper_node.py
  backend/app/modules/workflow/engine/nodes/python_tool_node.py
  backend/app/modules/workflow/engine/utils.py
  frontend/src/views/AIAgents/Workflows/components/GenericTestDialog.tsx
  frontend/src/views/AIAgents/Workflows/utils/helpers.ts
  frontend/yarn.lock
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

feat: added ability to persist workflow state
  backend/app/api/v1/routes/workflows.py
  backend/app/modules/workflow/agents/memory.py
  backend/app/modules/workflow/engine/nodes/__init__.py
  backend/app/modules/workflow/engine/nodes/chat_nodes.py
  backend/app/modules/workflow/engine/nodes/set_state_node.py
  backend/app/modules/workflow/engine/workflow_engine.py
  frontend/src/views/AIAgents/Workflows/components/custom/ParameterSection.tsx
  frontend/src/views/AIAgents/Workflows/context/WorkflowExecutionContext.tsx
  frontend/src/views/AIAgents/Workflows/nodeDialogs/SetStateDialog.tsx
  frontend/src/views/AIAgents/Workflows/nodeTypes/chat/chatInputNode.tsx
  frontend/src/views/AIAgents/Workflows/nodeTypes/index.ts
  frontend/src/views/AIAgents/Workflows/nodeTypes/utils/definitions.ts
  frontend/src/views/AIAgents/Workflows/nodeTypes/utils/setStateNode.tsx
  frontend/src/views/AIAgents/Workflows/types/nodes.ts
  frontend/src/views/AIAgents/Workflows/types/schemas.ts
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

feat: update root workflow with state changes
  backend/app/modules/workflow/engine/nodes/chat_nodes.py
  backend/app/modules/workflow/engine/workflow_state.py
  frontend/src/views/AIAgents/Workflows/components/GenericTestDialog.tsx
  frontend/src/views/AIAgents/Workflows/components/WorkflowTestDialog.tsx
  frontend/src/views/AIAgents/Workflows/components/custom/ParameterSection.tsx
  frontend/src/views/AIAgents/Workflows/nodeDialogs/SetStateDialog.tsx
  frontend/src/views/AIAgents/Workflows/nodeTypes/chat/chatInputNode.tsx
  frontend/src/views/AIAgents/Workflows/nodeTypes/chat/definitions.ts
  frontend/src/views/AIAgents/Workflows/nodeTypes/chat/setStateNode.tsx
  frontend/src/views/AIAgents/Workflows/nodeTypes/index.ts
  frontend/src/views/AIAgents/Workflows/nodeTypes/utils/definitions.ts
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

feat: add debug on conversation to check workflow exec
  backend/alembic/versions/00042_log_agent_response.py
  backend/app/api/v1/routes/agents.py
  backend/app/api/v1/routes/conversations.py
  backend/app/db/models/__init__.py
  backend/app/db/models/agent_response_log.py
  backend/app/dependencies/dependency_injection.py
  backend/app/modules/workflow/engine/workflow_state.py
  backend/app/repositories/__init__.py
  backend/app/repositories/agent_response_log.py
  backend/app/services/agent_response_log.py
  backend/app/use_cases/chat_as_client_use_case.py
  backend/openapi.json
  frontend/src/components/AgentResponseLogDialog.tsx
  frontend/src/services/transcripts.ts
  frontend/src/views/Transcripts/components/TranscriptDialog.tsx
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

fix: update input disclaimer and enhance chat input behavior (#393)
  plugins/react/example-app/src/App.tsx
  plugins/react/src/components/GenAgentChat.tsx
  plugins/react/src/services/chatService.ts
Due: none

security: [SNYK ISSUE] - fix path traversal (#402)
  backend/app/api/v1/routes/ml_model_pipeline.py
  backend/app/api/v1/routes/recordings.py
Due: azure-pipelines-backend.yml

refactor: remove redundant comment in DataSourceService for URL file handling
  backend/app/services/datasources.py
Due: azure-pipelines-backend.yml

chore: add persistent entity list in memory compacting to preserve specific data (#421)
  backend/app/modules/workflow/agents/memory_compactor.py
  backend/app/modules/workflow/engine/nodes/agent_node.py
  backend/app/modules/workflow/engine/nodes/llm_model_node.py
  backend/app/schemas/dynamic_form_schemas/nodes/agent_schema.py
  backend/app/schemas/dynamic_form_schemas/nodes/llm_model_schema.py
  frontend/src/views/AIAgents/Workflows/components/ModelConfiguration.tsx
  frontend/src/views/AIAgents/Workflows/types/nodes.ts
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

refactor: cleanup user input node
  backend/app/api/v1/routes/agents.py
  backend/app/api/v1/routes/workflows.py
  backend/app/modules/workflow/agents/memory.py
  backend/app/modules/workflow/engine/nodes/user_input_node.py
  backend/app/modules/workflow/engine/workflow_engine.py
  backend/app/modules/workflow/engine/workflow_state.py
  backend/app/modules/workflow/registry.py
  backend/app/use_cases/chat_as_client_use_case.py
  backend/openapi.json
  frontend/src/services/workflows.ts
  frontend/src/views/AIAgents/Workflows/components/WorkflowTestDialog.tsx
  frontend/src/views/AIAgents/Workflows/nodeDialogs/UserInputDialog.tsx
  frontend/src/views/AIAgents/Workflows/nodeTypes/io/definitions.ts
  plugins/react/src/components/GenAgentChat.tsx
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

Added option to skip
  backend/app/modules/workflow/engine/workflow_engine.py
  backend/app/modules/workflow/registry.py
  frontend/src/views/AIAgents/Workflows/components/GenericTestDialog.tsx
  plugins/react/src/components/DynamicFormMessage.tsx
  plugins/react/src/components/GenAgentChat.tsx
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

cleanup
  backend/app/api/v1/routes/agents.py
Due: azure-pipelines-backend.yml

cleanup
  backend/app/modules/workflow/agents/memory.py
  backend/app/modules/workflow/engine/exceptions.py
Due: azure-pipelines-backend.yml

remove redundant parts of the prompt add finalization handling for other gpt providers like nova
  backend/app/core/exceptions/error_messages.py
  backend/app/schemas/conversation_analysis.py
Due: azure-pipelines-backend.yml

cleanup
  backend/app/api/v1/routes/workflows.py
  frontend/src/services/workflows.ts
  frontend/src/views/AIAgents/Workflows/components/WorkflowTestDialog.tsx
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

remove try catch for rag retrieval object build make pgvector default vector provider for threadrag
  backend/app/modules/workflow/agents/conversation_rag_indexer.py
  backend/app/modules/workflow/agents/rag.py
  backend/app/modules/workflow/engine/nodes/agent_node.py
Due: azure-pipelines-backend.yml
