Repository kverushi/genassist: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

Path conditions:
  azure-pipelines-backend.yml: any of: backend
  azure-pipelines-frontend.yml: any of: frontend

feat: add category filtering to Zendesk article fetch
  backend/app/modules/integration/zendesk.py
  backend/app/schemas/dynamic_form_schemas/data_source_schemas.py
Due: azure-pipelines-backend.yml

refactor: optimize data source schema handling in DataSourceDialog
  frontend/src/views/DataSources/components/DataSourceDialog.tsx
  frontend/src/views/KnowledgeBase/components/KnowledgeBaseManager.tsx
Due: azure-pipelines-frontend.yml

Unify badge layouts
  frontend/src/components/ConnectionTestPanel.tsx
  frontend/src/components/badge.tsx
  frontend/src/views/DataSources/components/DataSourceCard.tsx
  frontend/src/views/DataSources/components/GmailConnection.tsx
  frontend/src/views/DataSources/components/Office365Connection.tsx
Due: azure-pipelines-frontend.yml

feat: Enhance knowledge item management with file handling
  backend/app/api/v1/routes/agent_knowledge.py
  backend/app/modules/data/manager.py
Due: azure-pipelines-backend.yml

chore: clear conversation redis cache after finalize (#484)
  backend/app/cache/redis_cache.py
  backend/app/services/conversations.py
Due: azure-pipelines-backend.yml

enhancement: enhance reporting and conversations features (#493)
  backend/alembic/versions/00050_add_node_daily_stats_columns.py
  backend/app/api/v1/routes/analytics.py
  backend/app/core/utils/date_time_utils.py
  backend/app/core/utils/enums/sort_field_enum.py
  backend/app/core/utils/sql_alchemy_utils.py
  backend/app/db/models/node_execution_daily_stats.py
  backend/app/repositories/analytics_aggregation.py
  backend/app/repositories/analytics_read.py
  backend/app/repositories/conversations.py
  backend/app/repositories/recordings.py
  backend/app/schemas/analytics.py
  backend/app/schemas/filter.py
  backend/app/services/analytics_aggregation.py
  backend/app/services/analytics_export.py
  backend/app/services/analytics_read.py
  backend/app/services/audio.py
  backend/openapi.json
  frontend/src/components/analytics/PerformanceChart.tsx
  frontend/src/helpers/analyticsParams.ts
  frontend/src/interfaces/analyticsReports.interface.ts
  frontend/src/interfaces/transcript.interface.ts
  frontend/src/services/analyticsReports.ts
  frontend/src/services/metrics.ts
  frontend/src/services/transcripts.ts
  frontend/src/views/Analytics/components/AnalyticsMetricsSection.tsx
  frontend/src/views/Analytics/components/reports/AgentExecutionChart.tsx
  frontend/src/views/Analytics/components/reports/SummaryStatsCards.tsx
  frontend/src/views/Analytics/hooks/useAnalyticsData.ts
  frontend/src/views/Analytics/pages/AgentPerformancePage.tsx
  frontend/src/views/Analytics/pages/Analytics.tsx
  frontend/src/views/Transcripts/helpers/transformers.ts
  frontend/src/views/Transcripts/hooks/useTranscriptData.ts
  frontend/src/views/Transcripts/pages/Transcripts.tsx
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

feat: add language crud (#494)
  backend/app/api/v1/routes/translations.py
  backend/app/repositories/translations.py
  backend/app/schemas/translation.py
  backend/app/services/translations.py
  backend/openapi.json
  frontend/src/Routes.tsx
  frontend/src/services/translations.ts
  frontend/src/views/Settings/components/LanguageDialog.tsx
  frontend/src/views/Settings/components/LanguagesCard.tsx
  frontend/src/views/Settings/pages/Languages.tsx
  frontend/src/views/Settings/pages/Settings.tsx
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

refactor: clean up imports and improve formatting in ML model files (#495)
  backend/app/db/models/ml_model.py
  backend/app/modules/workflow/engine/nodes/ml/ml_model_inference_node.py
  backend/app/services/ml_model_manager.py
Due: azure-pipelines-backend.yml

feat: add guardrail nodes to workflow engine and frontend
  backend/app/api/v1/routes/workflows.py
  backend/app/constants/__init__.py
  backend/app/constants/nli_models.py
  backend/app/modules/workflow/engine/nodes/__init__.py
  backend/app/modules/workflow/engine/nodes/guardrail_nli_node.py
  backend/app/modules/workflow/engine/nodes/guardrail_provenance_node.py
  backend/app/modules/workflow/engine/nodes/local_nli_model.py
  backend/app/modules/workflow/engine/workflow_engine.py
  frontend/src/views/AIAgents/Workflows/nodeDialogs/GuardrailNliDialog.tsx
  frontend/src/views/AIAgents/Workflows/nodeDialogs/GuardrailProvenanceDialog.tsx
  frontend/src/views/AIAgents/Workflows/nodeTypes/index.ts
  frontend/src/views/AIAgents/Workflows/nodeTypes/utils/definitions.ts
  frontend/src/views/AIAgents/Workflows/nodeTypes/utils/guardrailNliNode.tsx
  frontend/src/views/AIAgents/Workflows/nodeTypes/utils/guardrailProvenanceNode.tsx
  frontend/src/views/AIAgents/Workflows/types/nodes.ts
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

fix: adjust z-index for DialogOverlay component
  frontend/src/components/dialog.tsx
Due: azure-pipelines-frontend.yml

hotfix: init beat schedule
  backend/app/__init__.py
Due: azure-pipelines-backend.yml

refactor: filter out draft articles in ZendeskConnector
  backend/app/modules/integration/zendesk.py
Due: azure-pipelines-backend.yml

Set status to Untested when having changes
  frontend/src/components/ConnectionTestPanel.tsx
  frontend/src/views/DataSources/components/DataSourceDialog.tsx
Due: azure-pipelines-frontend.yml

fix: Encrypt all password fields (#555)
  backend/app/services/datasources.py
  backend/app/services/llm_providers.py
  frontend/src/views/DataSources/components/DataSourceDialog.tsx
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

feat: add agent chat locales endpoint and enhance chat service (#569)
  backend/app/api/v1/routes/conversations.py
  backend/app/services/translations.py
  backend/openapi.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/GlobalChat.tsx
  frontend/yarn.lock
  plugins/plugin-js/example-widget/config/config.example.js
  plugins/plugin-js/example-widget/index.html
  plugins/plugin-js/src/main.jsx
  plugins/react/package-lock.json
  plugins/react/package.json
  plugins/react/src/components/GenAgentChat.tsx
  plugins/react/src/hooks/useChat.ts
  plugins/react/src/services/chatService.ts
  plugins/react/src/types/index.ts
  plugins/react/src/utils/i18n.ts
  plugins/react/src/utils/zh.json
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

fix: backend/requirements-app.txt to reduce vulnerabilities
  backend/requirements-app.txt
Due: azure-pipelines-backend.yml
