Repository kverushi/genassist: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

azure-pipelines-backend.yml:
  name: GenAssist-GitHub-Backend_$(Date:yyyyMMdd)$(Rev:.r)
  pool:
    name: Ritech-AI-TR1
  steps:
  - checkout: self
    clean: true
    fetchTags: true
  - task: UseDotNet@2
    displayName: Use .NET Core sdk 8.X
    inputs:
      version: 8.x
  - task: gittools.gittools.setup-gitversion-task.gitversion/setup@3
  ...

azure-pipelines-frontend.yml:
  name: GenAssist-GitHub-Frontend_$(Date:yyyyMMdd)$(Rev:.r)
  pool:
    name: Ritech-AI-TR1
  steps:
  - checkout: self
    fetchDepth: 0
  - task: NodeTool@0
    displayName: Use Node 18.x
    inputs:
      versionSpec: 18.x
  - task: InstallSSHKey@0
    displayName: Install an SSH key (az devops)
    inputs:
  ...

Sync backend from Azure DevOps
  backend/app/modules/integration/zendesk.py
Due: azure-pipelines-backend.yml

Sync backend from Azure DevOps
  backend/app/db/seed/seed.py
  backend/app/db/seed/seed_ref.py
  backend/app/services/agent_knowledge.py
  backend/docker-compose.cicd.yml
  backend/docker-compose.yml
  backend/environment.yml
  backend/requirements-main.txt
  backend/scripts/manage-services.sh
  backend/scripts/test.sh
  backend/tests/integration/agents/test_agent_knowledgebase.py
  backend/tests/integration/agents/test_agent_with_resources.py
  backend/tests/integration/datasources/test_sql_datasource.py
  backend/tests/unit/test_knowledge_bases_service.py
Due: azure-pipelines-backend.yml

Sync frontend from Azure DevOps
  frontend/src/views/AIAgents/Workflows/components/custom/ParameterSection.tsx
  frontend/src/views/AIAgents/Workflows/nodeTypes/chat/chatInputNode.tsx
Due: azure-pipelines-frontend.yml

Sync frontend from Azure DevOps
  frontend/src/views/AIAgents/Workflows/nodeDialogs/CalendarEventDialog.tsx
  frontend/src/views/AIAgents/Workflows/nodeTypes/integrations/definition.ts
  frontend/src/views/AIAgents/Workflows/types/nodes.ts
Due: azure-pipelines-frontend.yml

fix: Enhance feature flag and node schema contexts to fetch data only for authenticated users (#22)
  frontend/src/context/FeatureFlagContext.tsx
  frontend/src/context/NodeSchemaContext.tsx
Due: azure-pipelines-frontend.yml

feat(vscode): add launch and task configurations for frontend and backend debugging (#31)
  .vscode/launch.json
  .vscode/tasks.json
Due: none

fix: adjust metrics handling in recordings API (#23)
  backend/app/api/v1/routes/recordings.py
  backend/app/repositories/recordings.py
Due: azure-pipelines-backend.yml

add safe memory check reactagentlc (#36)
  backend/app/modules/workflow/agents/react_agent_lc.py
Due: azure-pipelines-backend.yml

fix: lc agent history
  backend/.vscode/launch.json
  backend/app/core/config/settings.py
  backend/app/modules/workflow/agents/react_agent_lc.py
Due: azure-pipelines-backend.yml

fix: lc agent history (#38)
  backend/.vscode/launch.json
  backend/app/core/config/settings.py
  backend/app/modules/workflow/agents/react_agent_lc.py
Due: azure-pipelines-backend.yml

feat: update file manager service to support asynchronous storage provider initialization
  backend/app/services/file_manager.py
  backend/tests/unit/test_file_manager_service.py
Due: azure-pipelines-backend.yml

Update azure-pipelines-backend.yml for Azure Pipelines (#42)
  azure-pipelines-backend.yml
  backend/Dockerfile
  backend/README.md
Due: azure-pipelines-backend.yml

feat: change to open text the model name for bedrock provider
  backend/app/schemas/dynamic_form_schemas/llm_form_schemas.py
Due: azure-pipelines-backend.yml

feat: add more details to steps
  backend/app/modules/workflow/agents/react_agent_lc.py
Due: azure-pipelines-backend.yml

feat: enhance file manager service with file extension handling and local storage integration
  backend/alembic/versions/00033_add_file_manager_tables.py
  backend/app/api/v1/routes/agent_knowledge.py
  backend/app/db/models/file.py
  backend/app/db/models/user.py
  backend/app/modules/filemanager/file_manager.py
  backend/app/modules/filemanager/manager.py
  backend/app/modules/filemanager/providers/__init__.py
  backend/app/modules/filemanager/providers/base.py
  backend/app/modules/filemanager/providers/local/provider.py
  backend/app/modules/filemanager/providers/s3/provider.py
  backend/app/repositories/file_manager.py
  backend/app/schemas/file.py
  backend/app/services/file_manager.py
  backend/tests/unit/test_file_manager_service.py
Due: azure-pipelines-backend.yml

refactor: simplify base URL handling for file download in agent knowledge route
  backend/app/api/v1/routes/agent_knowledge.py
Due: azure-pipelines-backend.yml

Add datavolume to grant permission to logs
  backend/Dockerfile
  backend/docker-compose.cicd.yml
  backend/docker-compose.yml
  backend/entrypoint.sh
  docker-compose.dev.yml
  docker-compose.yml
Due: azure-pipelines-backend.yml

feat: add API endpoint to retrieve file source and refactor file upload handling in conversation
  backend/app/api/v1/routes/agent_knowledge.py
  backend/app/api/v1/routes/file_manager.py
  backend/app/use_cases/chat_as_client_use_case.py
  backend/openapi.json
Due: azure-pipelines-backend.yml

Configure SonarQube to 'GenAssist'
  .github/workflows/sonarqube.yml
Due: none

Update the runtime stage to explicitly create folders and grant ownership
  backend/Dockerfile
Due: azure-pipelines-backend.yml

Change to init the volume first
  .build/docker-compose.build.yml
  backend/docker-compose.cicd.yml
  backend/docker-compose.yml
  docker-compose.dev.yml
  docker-compose.yml
Due: azure-pipelines-backend.yml

fix: security concerns addressed v1
  backend/app/api/v1/routes/gmail.py
  backend/app/api/v1/routes/office365.py
  backend/app/core/config/settings.py
  backend/app/modules/workflow/engine/nodes/ml/ml_utils.py
  backend/app/modules/workflow/engine/nodes/sql_node.py
  backend/app/services/smb_share_service.py
  backend/requirements-main.txt
  backend/whisper_ext/requirements-whisper.txt
Due: azure-pipelines-backend.yml

chore - Upgrade dockerfiles to handle CVE issues (#92)
  .build/docker-compose.build.yml
  backend/infra/.terraform.lock.hcl
  backend/infra/README.md
  backend/infra/backend.tf
  backend/infra/main.tf
  backend/infra/outputs.tf
  frontend/Dockerfile
  ui_tests/Dockerfile
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

refactor: Implement safe file path utility and update artifact download logic
  backend/app/api/v1/routes/ml_model_pipeline.py
  backend/app/api/v1/routes/recordings.py
  backend/app/core/utils/file_system_utils.py
Due: azure-pipelines-backend.yml

update sql vulnerabilities
  backend/requirements-app.txt
Due: azure-pipelines-backend.yml

fix: update service port mappings to 8000
  .build/docker-compose.build.yml
  backend/docker-compose.cicd.yml
  backend/docker-compose.yml
  docker-compose.dev.yml
  docker-compose.yml
Due: azure-pipelines-backend.yml

feat: add WebSocket disable option to chat components and services (#110)
  plugins/react/example-app/src/App.tsx
  plugins/react/src/components/GenAgentChat.tsx
  plugins/react/src/hooks/useChat.ts
  plugins/react/src/services/chatService.ts
  plugins/react/src/types/index.ts
Due: none

chore: update version to 1.0.22 and add icon import in InteractiveContent component
  plugins/react/package-lock.json
  plugins/react/package.json
  plugins/react/src/components/InteractiveContent.tsx
Due: none

chore: update genassist-chat-react to version 1.0.22
  frontend/package.json
Due: azure-pipelines-frontend.yml

fix: reduce workers
  backend/app/dependencies/dependency_injection.py
  backend/app/middlewares/_middleware.py
  backend/app/middlewares/session_cleanup_middleware.py
  backend/openapi.json
  backend/run.py
Due: azure-pipelines-backend.yml

feat: add reCaptcha support and WebSocket option to React chat plugin README (#112)
  plugins/react/README.md
Due: none

fix: upgrade react from 19.1.0 to 19.2.3
  backend/docs-site/package-lock.json
  backend/docs-site/package.json
Due: azure-pipelines-backend.yml

fix: upgrade react-dom from 19.1.0 to 19.2.3
  backend/docs-site/package-lock.json
  backend/docs-site/package.json
Due: azure-pipelines-backend.yml

fix: upgrade @docusaurus/core from 3.7.0 to 3.9.2
  backend/docs-site/package-lock.json
  backend/docs-site/package.json
Due: azure-pipelines-backend.yml

fix: upgrade @docusaurus/preset-classic from 3.7.0 to 3.9.2
  backend/docs-site/package-lock.json
  backend/docs-site/package.json
Due: azure-pipelines-backend.yml

fix: upgrade @mdx-js/react from 3.1.0 to 3.1.1
  backend/docs-site/package-lock.json
  backend/docs-site/package.json
Due: azure-pipelines-backend.yml

enhance: safe passwords
  backend/.env.example
  backend/app/core/config/settings.py
  backend/openapi.json
  backend/tests/integration/datasources/test_sql_datasource.py
  backend/tests/unit/test_sql_data_source_service.py
Due: azure-pipelines-backend.yml

feat: add Redis SSL support in ProjectSettings
  backend/app/core/config/settings.py
Due: azure-pipelines-backend.yml

refactor: simplify API URL handling by removing caching logic
  frontend/src/config/api.ts
Due: azure-pipelines-frontend.yml

Path conditions:
  azure-pipelines-backend.yml: any of: backend
  azure-pipelines-frontend.yml: any of: frontend
